*

!.github/
!.github/**
!assets/
!assets/**
!.editorconfig
!.envrc
!.gitattributes
!.gitignore
!.gitkeep
!.gitmodules
!.justfile
!LICENSE
!README.md

!*.md
!*.mdc
!*.svg
!*.png
!*.nix
!*.lock
!*.toml
!*.yaml
!*.yml
!*.conf
